/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/08/2015, 11:14:09 AM
    Author     : s4081775
*/

body {
    background: #002f49;
    text-align: center;
    color: #ffb400;
	font-family: Sans-Serif;
    background-image: url("assets/backgroundimg.jpg");
    background-repeat: repeat-x-y;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
}

#container {
	top: 0;
	min-height: 100vh;
    position: relative;
    width: 1000px;
    margin: 0px auto 0px auto;
	background: #002f49;

/*
    background-color: rgba(255,255,255,0.3);
*/
}

div.menuButton, div.endButton, div.difficultyButton, div.playButton{
    width: 200px;
    background-color: #c30d36;
    border-radius: 50px;
    border: solid 2px gold;
    font-size: 24px;
    font-family: verdana;
    margin: 15px auto;
    cursor: pointer;
}

div.hintButton, div.solveButton, #submit, .pullButton{
	width: 150px;
    background-color: #c30d36;
    border-radius: 50px;
    border: solid 2px gold;
    font-size: 24px;
    font-family: verdana;
    margin: 15px auto;
    cursor: pointer;
}


#menu{
	display:none;
}

#difficulty{
	display: none;
}

#leaderboard{
  display: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#explanation {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    position: absolute;
    text-align: center;
    top: 50px;
    margin-top: 12.55%;
    margin-left: auto;
}

#submit {
    color: #ffb400;
    margin-top: 20px;
}

.submitForm {
  padding-top: 20px;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: #002f49;
}

#pull  {
  margin-left: auto;
  margin-right: auto;
}

#puzzle {
    display: none;
}

#playAgain {
    display: none;
}

#options {
    display: none;
}

#highscore {
    display: none;
}

#navigation {

   top: 0;
   width: 100%;
   border-bottom: 4px solid;
   margin-left: 0px;
   padding-left: 0px;
   padding-top: 0px;
}

#navlist {
   margin-top: 0px;
}

#navigation ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#navigation ul li {
    display: inline;
	color: #ffb400;
}


#ausliderhome {
	margin-left: 0;
	padding-right: 12%;
	font-size: 60px;
}

div.navButton, div.leaderButton{
	display: inline;
	font-size: 30px;
  width: 60px;
	background-color: #002f49;
	text-decoration: none;
	color: #ffb400;
	padding-left: 0;
	padding-right: 10%;
	cursor: pointer;
	}

div.navButton:hover, div.leaderButton:hover{
	color:#c30d36;
}

div.leaderButton:hover{
	color:#c30d36;
}

#slider{
	margin-top: 5%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 5%;

	display:inline;

}

#controls{
	margin-top: 5%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 5%;
	float: left;
	display:inline;
	list-style-type: none;
	font-size: 20px;
	background-color: #002f49;
	text-decoration: none;
	color: #ffb400;
}

#hintgiveup{
	margin: 0 0;
	padding-left: 330px;

}

#hintgiveup ul{
	list-style-type: none;
	text-decoration: none;
}
#hintgiveup ul li{
	float: left;
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

a{
cursor: pointer !important;	
}



input{
	background-color: #002f49;
	border: none;
	color: #FFFFFF;
	font-size: 25px;
	padding-left: 8px;
}

#controlslist{
	text-align: left;
	list-style-type: none;
}

#clearboth{
	clear:both;
}

/*
#homeimg, #slider{
	border: solid;
	border-width: 20px;
	border-style:  outset;
	border-color: #ffb400;
	border-radius: 15px;

	}
*/


#homeimg{
	margin-top: 5%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5%;
}

footer{
	padding: 10px;

	bottom: 0;

}
