/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/08/2015, 11:14:09 AM
    Author     : s4081775
*/

body {
    width: 1000px;
    background: #002f49;
    text-align: center;
    margin: auto;
    color: #ffb400

}

div.menuButton, div.endButton {
    width: 200px;
    background-color: #c30d36;
    border-radius: 50px;
    border: solid 2px gold;
    font-size: 24px;
    font-family: verdana;
    margin: 15px auto;
}

#explanation p {
    background-color: rgba(255, 255, 255, 0.7);
    float: right;
    margin-right: 3em;
    color: black;
}

#puzzle {
    display: none;
}

#playAgain {
    display: none;
}
